table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

#dvTable {
  overflow-x:auto;
  
}

form {
  padding: 20px 40px 20px 40px;
}
#fname, #lname {
  margin-bottom: 15px;
}

table {
  margin-top: 50px;
  margin-bottom: 50px;
}

#nameForm {
  border-bottom: 1px solid black;
}

section.keywordContainer {
  border-bottom: 1px solid black;
}
.btn {
margin: 15px;
}

body {
margin: 15px;
}