table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
  }

  #dvTable {
    overflow-x:auto;
    
  }

  form {
    padding: 20px 40px 20px 40px;
  }
  #fname, #lname {
    margin-bottom: 15px;
  }

  